// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
@import "../bootstrap/css/bootstrap.min.css";

// Fontawesome
@import "../font-awesome-4.7.0/css/font-awesome.min.css";


.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}
.mx-answer{
	display: none;
}
.mx-answer_link{    
	float: right;
}
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.bg-secondary{
	background-color: #868e96;
	text-align: right;
}
.like-button_wrap{
	display: inline-block;
}

/*media*/
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	} 
}